<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <form action="/account" method="post">
         <label for="adress">
            <input type="text" name="adress" placeholder=" add adress: ">
        </label>
         <label for="city">
            <input type="text" name="city" placeholder=" add city: ">
        </label> 
         <label for="contact">
        <input type="number" name="contact" placeholder="add contact: ">
        </label>
        <label for="religion">
            <input type="text" name="religion" placeholder="add religion">
        </label>
        <button type="submit">update details</button>
    </form>
</body>
</html>