<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
  </head>
  <body>
    <a href="https://wa.me/923065896726" target="_blank">
      Chat with us on WhatsApp to get the registration code.
    </a>

    <form action="/register" method="post">
      <label for="username">
        <input type="text" name="username" placeholder="name: " />
      </label>
      <label for="password">
        <input type="password" name="password" placeholder="password: " />
      </label>
      <!-- <label for="adress">
            <input type="text" name="adress" placeholder="adress: ">
        </label> -->
      <label for="city">
        <input type="text" name="city" placeholder="city: " />
      </label>
      <!-- <label for="contact">
        <input type="number" name="contact" placeholder="contact: ">
        </label> -->
      <label for="passcode">
        <input type="number" name="passcode" placeholder="passcode: " />
      </label>
      <button type="submit">register</button>
    </form>
  </body>
</html>
